@import '../node_modules/normalize.css/normalize.css';

:root {
  --blue: #0E3386;
  --red: #D12325;
}

body {
  counter-reset: sup;
  margin: 0;
}

h1 {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  color: var(--blue);
  font-size: 4em;
  line-height: 1.4em;
  text-align: center;
  margin: 0.67em 0;
  padding: 0 1em 0.67em 1em;
  border-bottom: 5px solid var(--blue);
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: -10px;
    border-bottom: 5px solid var(--red);
  }

  & .color {
    color: var(--red);
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
    &:before {
      display: none;
    }
  }

  @media screen and (width <= 800px) {
    font-size: 2em;
  }
}

a, a:visited {
  color: var(--blue);
  text-decoration: none;
  &:hover { color: var(--red); }
}

sup a {
  font-size: 0.8em;
  padding: 0.2em;

  &:before {
    counter-increment: sup;
    content: counter(sup);
  }
}

@media screen and (width <= 800px) {
  br {
    display: none;
  }
}

